.container {
    width: 210px;
    height: 30px;
    display: grid;
    grid-template-columns: "150px 30px 30px";
    grid-template-rows: "30px";
    grid-template-areas: "a b c";
    text-align: center;
    border-radius: 1px;
}

.votecount {
    font-family: 'Montserrat', sans-serif;
    margin: auto;
    height: 30px;
    width: 140px;
    padding: 5px 0px 0px 0px;
    grid-template-areas: a;
}

.up {
    height: 30px;
    width: 30px;
    grid-template-areas: b;
}

.down {
    height: 30px;
    width: 30px;
    grid-template-areas: c;
}
