.Bar {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 8fr 1fr;
    height: 10%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,0) 100%);
}